@import url('https://fonts.googleapis.com/css?family=Cairo');

*{
  padding:0;
  margin:0;
  border:0;
}

body {
  background:#4286f4;
}

#container {
  border-radius: 5px;
  width:40%;
  background:white;
  margin: 0 auto;
  padding:20px;


}
#chat_box {
  border-radius: 5px;
  width:90%;
  height:400px;
}
#chat_data {
  border-radius: 5px;
  width:100%;
  padding:5px;
  margin-bottom:5px;
  border-bottom:1px solid silver;
  font-weight:bold;
  font-family: 'Cairo', sans-serif;
  overflow-y:auto;
}

input[type='text']{
  width:100%;
  height:40px;
  border:1px solid gray;
  border-radius:5px;
}
input[type='submit']{
  width:100%;
  height:40px;
  border:1px solid gray;
  border-radius:5px;
}
textarea{
  width:100%;
  height:40px;
  border:1px solid gray;
  border-radius:5px;
}

input[type='text']:hover{
  border:1px solid blue;
}
input[type="submit"]:hover{
 border:1px solid blue;
}
textarea:hover{
  border:1px solid blue;
}
